<ion-view title="Resource Visibility" hide-back-button="true" class="profile">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
   
    <html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
          <style type="text/css">
        html, body {
            margin: 0px;
            padding: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }


        #people {
            width: 100%;
            height: 100%;
        }
    </style>
        
        </head>
    
    <div id="people"></div>
     <style type="text/css">
        .get-oc-c {
              top: -170px; !important;
         }
         .get-oc-tb {
              margin-top: 40px; !important;
         }
     </style>
    </html>
    </ion-content>

</ion-view>
