<ion-view title="Skill Set" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <div class="list list-inset">
            <fieldset>
                <div class=list>
                    <div class="item item-body">
			<ion-label stacked style="font-weight:bold">Skill Sets in Salesforce</ion-label>    
			<textarea placeholder="" rows="7" ng-model="skill.sfdc"></textarea>
		    </div>
		    <div class="item item-body">
			<ion-label stacked style="font-weight:bold">Skill Sets in Other Area</ion-label>    
			<textarea placeholder="" rows="7" ng-model="skill.other"></textarea>
		    </div>
		</div>	    
      	    </fieldset>
            <button class="button button-block button-light" ng-click="submit()">
                Save
            </button>
       </div>	
    </ion-content>
<style>
       .button.button-light {
    border-color: #e6b800;
    background-color: #e6b800;
    color: white;
}

.button.button-light:hover {
    color: white;
    text-decoration: none;
}
	label {
        display: inline-block;
        margin-bottom: 5px;
        font-weight: 500; !important;
    }
	
</style>
</ion-view>
