<ion-view class="welcome" hide-nav-bar="true" >

    <ion-content>

        <div style="margin-top: 150px;text-align: center;">

           
            <img src="/img/Symantec-logo.png" style="width:1000px;max-width: 100%;height: auto;text-align:center;margin-top: 200px auto"/>
            <h2 style="margin-top: -17px;margin-right:-35px;font-size:6vw;text-align:center">Resource Visibility</h2>
            
            <div style="margin-right:-45px">

                <a class="button button-block button-clear" style="font-size:3vw;" ui-sref="app.sflogin">
                       Log In Via Salesforce &nbsp;<i class="icon-arrow-right"></i>
                </a>
                
                <a class="button button-block button-clear" style="font-size:3vw;" href="/download/resource-view.apk">                    	
                    <img src="/img/Android_App_Download_Badge.png" style="width:150px;max-width:100%;height: auto;text-align:center;margin-top: 200px auto"/>
                </a>
               
            </div>

        </div>
     <style>
         .welcome .button-clear {
                color: #eeeeee;
                font-size: 15px; !important;
                padding-top: 22px; !important;
            }
     </style>
    </ion-content>

</ion-view>
