<ion-view class="welcome" hide-nav-bar="true" >

    <ion-content>

        <div style="margin-top: 150px;text-align: center;">

            <!--<img src="css/img/logo.svg" style="width:65%; margin:0 auto;display: block;"/>-->
           
            <img src="/img/Symantec-logo.png" style="width:450px;height:160px;text-align:center;margin-top: 200px auto"/>
            <h2 style="margin-top: -17px;margin-right:-35px;font-size:25px;">Resource Visibility</h2>
            
            <div style="margin-right:-50px">
                <!--<a class="button button-stable" ui-sref="app.signup" style="max-width:84%;color:black;padding-left:28px;padding-right:28px;">
                     Sign Up
                     
                </a>
                <a class="button button-block button-clear" ui-sref="app.login">
                      Already a  Member?&nbsp;&nbsp;Log In&nbsp;<i class="icon-arrow-right"></i>
                </a>-->
                <a class="button button-block button-clear" ui-sref="app.sflogin">
                       Log In Via Salesforce &nbsp;<i class="icon-arrow-right"></i>
                </a>
               
            </div>

        </div>
     <style>
         .welcome .button-clear {
                color: #eeeeee;
                font-size: 15px; !important;
                padding-top: 15px; !important;
            }
     </style>
    </ion-content>

</ion-view>
